.petImageArea {
    width: 1000px; /* 너비 설정 */
    height: 700px; /* 높이 설정 */
    margin: 0 0px; /* 간격 설정 */
    border-radius: 20px;
    background-color: #FFFFFF;
    /* background-color: rgba(160, 212, 255, 0.9); */
    border: 2px solid black; /* 위쪽에 2px 두께의 검은색 선 설정 */
    position: relative; /* 상대적 위치 설정 */
    z-index: 1; /* 적절한 Z-index 값 설정 */
}
  
.resultArea {
    display: flex; /* Flexbox 레이아웃 설정 */
    justify-content: center; /* 가로로 중앙 정렬 */
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px; /* 내부 간격 설정 */
    border-radius: 20px;
}
  
.pet-div {
    width: 100%; /* 너비 설정 */
    height: 45%; /* 높이 설정 */
    position: relative; /* 절대적 위치 설정 */
    top: -150px; /* 위에서부터 30px 이동 */
    z-index: 2; /* 첫 번째 div보다 위로 위치 */
    text-align: center;
}

.type_logo {
    height: 400px; /* 이미지의 세로 비율을 유지하면서 너비에 맞춤 */
    border: 3px solid black; /* 위쪽에 2px 두께의 검은색 선 설정 */
    border-radius: 20px;
  }

.type_explanation {
    margin-top: 30px;
    margin: 100;
}
.result_bar {
    position: relative; /* 내부 요소를 상대적으로 위치시키기 위해 설정합니다. */
    width: 100%; /* 그래프의 전체 너비를 설정합니다. */
    height: 40px; /* 그래프의 높이를 설정합니다. */
    background-color: #858585; /* 그래프의 배경색을 설정합니다. */
    border-radius: 13px; /* 그래프의 모서리를 둥글게 설정합니다. */
    overflow: hidden; /* 그래프 내부의 넘치는 부분을 숨깁니다. */
    justify-content: center;
    align-items: center;
  }

.resultbar_area {
    display: block;
    margin-top: 5px;
}
/* 첫 번째와 세 번째 div 태그의 너비를 3으로 설정 */
.result_graph {
    display: flex;
    align-items: center;  
    font-size: 18px; /* 텍스트의 글자 크기를 설정합니다. */ 
}
.resultGraph_text {
    position: absolute; /* 내부 요소를 절대적으로 위치시키기 위해 설정합니다. */
    top: 40%; /* 상단에서 50% 위치에 요소를 위치시킵니다. */
    left: 50%; /* 왼쪽에서 50% 위치에 요소를 위치시킵니다. */
    transform: translate(-50%, -50%); /* 요소를 가운데 정렬하기 위해 설정합니다. */
    color: #000000; /* 텍스트 색상을 설정합니다. */
    font-weight: bold; /* 굵은 글씨체 */
    align-items: center;
    text-align: center;
}
.result_graph div:first-child {
    flex-grow: 2.9;
    text-align: right;
    font-weight: bold;
  }
.result_graph div:last-child {
    flex-grow: 3.1;
    text-align: left;
    font-weight: bold;
}
/* 두 번째 div 태그의 너비를 4로 설정 */
.result_graph div:nth-child(2) {
    flex-grow: 4;
    margin: 5px;
    text-align: left;
}