<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>강아지 성격 유형</title>
  <link rel="stylesheet" href="/assets/type.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="/assets/type.js"></script>

</head>

<header>
<!-- 메뉴 -->
  <div class="menu">
    <div class="m_item1"><img src="/image/pet.jpg" alt="기업 로고" class="UnP_logo" onclick="goToPage('/dptt')"></div>
    <div class="m_item2">
      <div class="grid1"></div>
      <div class="grid2" onclick="goToPage('/dptt')"><span>성격 테스트</span></div>
      <div class="grid3" onclick="goToPage('/type')"><span>유형</span></div>
      <div class="grid4"></div>
    </div>
    <div class="m_item3" onclick="goToPage('/dptt')"><span>문의</span></div>
  </div>
</header>

<body>
  <!-- 메인 설명 -->
  <div class="header_area" id="dd">
    <p class="title_text">강아지 성격 유형</p>
    <div class="contents_explanation">
      <div class="ID_RNE">
        <div class="type_area_left">
          <img src="/image/IDR.JPG" class="puppyPictures">
          <p class="type_name">견생을 깨우친 요조숙녀</p>
          <p class="typeDescription">IDR(내향/의존/이성)</p>
        </div>
        <div class="type_area_right">
          <img src="/image/IDE.JPG" class="puppyPictures">
          <p class="type_name">아직은 수줍은 모험가</p>
          <p class="typeDescription">IDE(내향/의존/감성)</p>
        </div>
      </div>
      <div class="IL_RNE">
        <div class="type_area_left">
          <img src="/image/ILR.JPG" class="puppyPictures">
          <p class="type_name">주도면밀한 전략가</p>
          <p class="typeDescription">ILR(내향/주도/이성)</p>
        </div>
        <div class="type_area_right">
          <img src="/image/ILE.JPG" class="puppyPictures">
          <p class="type_name">못 말리는 사고뭉치</p>
          <p class="typeDescription">ILE(내향/주도/감성)</p>
        </div>
      </div>
      <div class="ED_RNE">
        <div class="type_area_left">
          <img src="/image/EDR.JPG" class="puppyPictures">
          <p class="type_name">견생 N회차 사교가</p>
          <p class="typeDescription">EDR(외향/의존/이성)</p>
        </div>
        <div class="type_area_right">
          <img src="/image/EDE.JPG" class="puppyPictures">
          <p class="type_name">뚜렷한 주관의 소유자</p>
          <p class="typeDescription">EDE(외향/의존/감성)</p>
        </div>
      </div>
      <div class="EL_RNE">
        <div class="type_area_left">
          <img src="/image/ELR.JPG" class="puppyPictures">
          <p class="type_name">꿈을 품은 지도자</p>
          <p class="typeDescription">ELR(외향/주도/이성)</p>
        </div>
        <div class="type_area_right">
          <img src="/image/ELE.JPG" class="puppyPictures">
          <p class="type_name">주도적인 갱얼쥐</p>
          <p class="typeDescription">ELE(외향향/주도/감성)</p>
        </div>
      </div>
    </div>
  </div>
</body>